@import "../../../style/mixins.scss";

.dropdown {
  @include transition(all 1s ease-in-out);
  position: relative;

  .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
    background-color: #fff;
    right: 0;
    a {
      padding: 10px 20px;
      text-decoration: none;
      display: block;
      text-align: left;
      color: #008891;
      &:hover {
        background-color: #008891;
        color: #fff;
      }
    }
  }

  &:hover .dropdown-content {
    display: block;
  }
}
