.tab-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16.66rem;
  margin: 0 0.5rem 2.3rem 0.5rem;

  .tab-body {
    background-color: #e7e7de;
    height: 16.66rem;
    margin-bottom: 1rem;
    p {
      padding: 0.77rem 0.66rem;
    }
  }

  .tab-reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    h3 {
      color: #008891;
      font-weight: 600;
    }
  }

  .tab-information {
    display: flex;
    justify-content: space-between;
    p {
      font-size: 0.6rem;
      font-weight: 300;
      line-height: 1rem;
    }
  }
}
