.Tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16.66rem;
    margin: 0 .5rem 2.3rem .5rem;
  
  
   .tabcontainer {
    background-color: #e7e7de;
    height: 16.66rem;
    margin-bottom: 1rem;
    p{
      padding: .77rem .66rem
    }
  }
  h2 {
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
}
  .Tab-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .Tab-reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    h3 {
      color: #008891;
      font-weight: 600;
    }
  }
    
  .Tab-information {
    display: flex;
    justify-content: space-between;
    p {
      font-size: .60rem;
      font-weight: 300;
      line-height: 1rem;
    }
  }
  